*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pricing-info{
 background: linear-gradient(250deg, #023460, #1c2331 80%);
}

/* social icons */
.social-icons .icons a{
    color: rgb(28, 28, 28);
  }
  .social-icons .icons a:hover{
    color: rgb(255, 94, 0);
  }
  
  