

  /* Connect vehicles start */
  .Connect-vehicles {
    background-color: #06218E;
  }

  .Connect-vehicles img {
    height: 300px;
    width: auto;
  }

  .image-insight img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
  }

  /* accordion */
  main img {
    width: 100%;
  }

  .navigation {
    font-weight: 300;
    font-size: 0.9375rem;
    max-width: 460px;
    min-width: 216px;
    margin: 0 auto;
    color: #696666;
  }

  .navigation__logo {
    width: 216px;
    margin: 0 auto;
    padding-bottom: 18px;
  }

  .accordion,
  .sub-accordion {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .accordion__item {
    background: #e7e7e7;
    border-radius: 20px;
    margin-bottom: 5px;
  }

  .accordion__item:nth-child(odd)> :first-child:not(.accordion__link_active) {
    color: #ffffff;
    background: #696666;
  }

  .accordion__link {
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    color: #696666;
    text-decoration: none;
    border-radius: 20px;
    display: block;
    padding: 12px 50px 12px 20px;
  }

  .accordion__link:not(.accordion__link_active):after {
    position: absolute;
    content: "";
    border-top: 12px #FFA500 solid;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: 22px;
    top: 50%;
    transform: translatey(-6px);
  }

  .accordion__link:not(.accordion__link_active):hover {
    opacity: .8;
    color: #fff;
    background: #B8B8B8;
  }

  .accordion__link:not(.accordion__link_active):hover:after {
    border-top: 12px #ffffff solid;
  }

  .sub-accordion {
    padding: 5px 20px;
    display: none;
    height: 0;
    overflow: hidden;
  }

  .sub-accordion__item {
    padding: 5px 0;
  }

  .accordion__link_active {
    color: #ffffff;
    background-color: #1c2331;
  }

  .accordion__link_active:after {
    position: absolute;
    content: "";
    border-bottom: 12px #fff solid;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: 22px;
    top: 50%;
    transform: translatey(-6px);
  }

  .accordion__link_active+ul {
    display: block;
    height: 100%;
  }

  .performance {
    background-image: url("../../../public/images/images-entour/performance.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    /* width: auto; */
  }

  .schedule {
    background-image: url("../../../public/images/images-entour/schedules.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
  }

  .btn-two-images-section {
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 10px;

    a{
      color: #000;
    }
  }

  .btn-two-images-section:hover {
    background-color: black;
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: #fff;
    transform: translateY(-7px);

    a{
      color: white;
    }
  }

  .btn-two-images-section:active {
    transform: translateY(-1px);
  }

  .social-icons .icons a {
    color: rgb(28, 28, 28);
  }

  .social-icons .icons a:hover {
    color: rgb(255, 94, 0);
  }