


   /* cards of t2 */
   .background-color-card{
    background-color: #EBEAEB;
    padding: 28px;
   }

   /* .imagetext */
   .images-text{
 background: linear-gradient(250deg, #023460, #1c2331 80%);

   }
   .side-image-one img{
    height: 250px;
    width: auto;
   }
   .images-text .side-image img{
    height: 350px;
    width: auto;
   }

   .images-text .image-2{
    height: 250px;
    width: auto;
   }

   /* accordion */
main img {
	width: 100%;
}

.navigation {
	font-weight: 300;
	font-size: 0.9375rem;
	max-width: 460px;
	min-width: 216px;
	margin: 0 auto;
	color: #696666;
}

.navigation__logo {
	width: 216px;
	margin: 0 auto;
	padding-bottom: 18px;
}

.image-GTF img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.t3-schedule{
    background-image: url("../../../public/images/images-entour/operations.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}
.t4-gtfs-static{
    background-image: url("../../../public/images/images-entour/operators.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* social icons */
.social-icons .icons a{
    color: rgb(28, 28, 28);
  }
  .social-icons .icons a:hover{
    color: rgb(255, 94, 0);
  }
  


  